<!-- This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html lang="en">
<head>

    <style type="text/css">
        .navbar {
            height:50px;
            width:100%;
            position: fixed;
            z-index:1;
            top:0;
            left:0;
            background-color:#111;
            overflow-y: hidden;
            padding-top:25px;
        }

    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slugbites</title>
</head>
<body>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/food">Dishes</a>
    </div>
    <div id="content", name="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>