<!-- This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'slugbites/style.css' %}" />

    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slugbites</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/food">Menu</a>
        <a href="/currentmeal">Current Meal</a>
        <input type="text" name="search" placeholder="Search..">
    </div>
    <div id="content", name="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>