<!-- This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/. -->
{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'slugbites/style.css' %}" />
{% if not meals|length %}
<div class="noMoreMeals">
    <h1> There are no more meals for the day, consider looking at future days </h1>
</div>
{% else %}
<h1>This is a test</h1>
{% endif %}
{% endblock %}