<!-- This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/. -->
{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'slugbites/style.css' %}" />
    <h1 style="padding-top: 50px">Full Menu</h1>
    <ul>
        {% for meal, items in food.items %}
        <div class ="rowTwo">
            <div class="columnTwo">
                <h2>{{meal}}</h2>
                {% for item in items %}
                <li>{{item}}</li>
                {% endfor %}
            </div>
                    
        {% endfor %}
    </ul>
{% endblock %}