<!-- This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'slugbites/style.css' %}"/>
<div>
    <h2>SlugBites</h2>
</div>

<div class ="row">
    <div class="column">
        <h2>Cowell/Stevenson</h2>
        <canvas> id= "HallsContainer width=1596px height=608px"</canvas>
    </div>

    <div class="column">
        <h2>Porter/Kresge</h2>
        <p>hdhdhhhd</p>
    </div>

    <div class="column">
        <h2>Crown/Merrill</h2>
        <p>hdhdhhhd</p>
    </div>

    <div class="column">
        <h2>College 9/John R Lewis</h2>
        <p>hdhdhhhd</p>
    </div>

</div>
<!-- <img src="{% static 'slugbites/frog.jpg' %}" alt="My image">-->
{% endblock %}