/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #483849;
    overflow: hidden;
    height: 15%;
    border-radius: 18px;
    width: 80%;
    padding-top: 20px;
    padding-right: 20px;
    float: right;
    /* padding-left: 25px; */
}

/* Style the links inside the navigation bar */
.topnav a{
    float: right;
    width: 25%;
    color: #f2f2f2;
    border-radius: 18px;
    text-align: center;
    /* padding-left: 1px; */
    height: 40px;
    text-decoration: none;
    vertical-align: top;
    /* margin: auto; */
    font-family: 'Montserrat';
    font-size: 17px;
    transition-property: color 2s;
}

/* Change the color of links on hover */
.topnav a:hover {
    transition-timing-function: ease-in;
    color: #22879C;
    transition-duration: 1s;
}

/* Add a color to the active/current link
.topnav a.active {
    background-color: #eccc10;
    color: white;
} */
.searchbar{
    width: 70%;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 10px; 
}

.searchbar input[type=text]{
    /* height: 40px; */
    /* width: 60%;
    margin: auto; */
    height: 40px;
    width: 100%;
    border-radius: 18px;
    text-align: center;
    background-color: #a3c4e0;
    color: #483849;
    font-family: "Montserrat";
    font-size: large;
    display: flex;
    /* transition: width 0.4s ease-in-out;  */
}

/* When the input field gets focus, change its width to 100% */
.searchbar input[type=text]:focus {
    height: 45px;
    width: 100%;
    transition: height 0.4s ease-in-out;
}

.searchbar:hover {
    transition-timing-function: ease-in;
    color: #ECCC10;
    box-shadow: 1px, 1px, 1px #22879C;
    transition-duration: 1s;
}

.logo{
    width: 12%;
    height : 16%;
    float: left;
    border-radius: 360px;
}

.logo:hover{
    transition-timing-function: ease-in;
    box-shadow: 2px 2px 1.5px #22879C;
    transform: scale(90%);
    transition-duration: 1s;
}

/* img{
    height: 100%;
    width: 100%;
} */

body {
    background-color: #211522;
    color: #eef2f6;
    font-family: "Montserrat";
}

/*h2 {
    text-align: right;
}*/
  
#siteTitle {
    position: relative;
    text-align: left;
    transition-property: color 1s;
}

#siteTitle:hover {
    transition-timing-function: ease-in;
    color: #ECCC10;
    transition-duration: 1s;
}

.categories {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #a3c4e0;
    width: 80%;
    height: 289px;
    border-radius: 18px;
}

.icons {
    margin: 5px; 
    float: left;
    padding: 5px;
    justify-content: center;
    display: static;
    overflow: auto;
    /*scrollbar-base-color: #a3c4e0;
    scrollbar-arrow-color: #22879C;*/
}

.icon{
    width: 10%;
    height: 10%;
    transition-property: box-shadow 1s, transform 1s;
}

.icon:hover{
    transition-timing-function: ease-in;
    box-shadow: 2px 2px 5px #22879C;
    border-radius: 30px;
    transform: scale(90%);
    transition-duration: 1s;
}

#topRowIcons{
    margin: 10px; 
    column-gap: 5px;
    padding: 10px;
    justify-content: center;
    display: flex;
    overflow: auto;
}

#bottomRowIcons{
    margin: 10px; 
    column-gap: 5px;
    padding: 10px;
    justify-content: center;
    display: flex;
    overflow: auto;
}

.row{
    /* content: ""; */
    margin: 0 auto;
    position: relative;
    padding-top: 20px; 
    text-overflow: wrap;
    overflow-wrap: break-word;
    text-align: center;
    justify-content: center;
    display: table;
    display: flex;
    width: 100%;
    clear: both;
}
.rowTwo {
    /* content: ""; */
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    text-overflow: wrap;
    text-align: center;
    justify-content: center;
    display: table;
    display: flex;
    width: 100%;
    clear: both;
}
.column {
    margin: 10px;
    float: left;
    width: 19%;
    height: 608px;
    background-color: #483849;
    border-radius: 18px;
    padding: 15px;
    transition-property: color 1s, box-shadow 1s;
    overflow: hidden;
}

.columnTwo {
    margin: 10px;
    float: left;
    width: 50%;
    height: 105%;
    background-color: #483849;
    border-radius: 18px;
    padding: 15px;
    transition-property: color 1s, box-shadow 1s;
    /* display: flex; */
    text-align: left;
}

.column:hover {
    transition-timing-function: ease-in;
    color: #ECCC10;
    box-shadow: 2px 2px 2px #22879C;
    border-radius: 30px;
    transform: scale(90%);
    transition-duration: 1s;
}

.columnTwo:hover {
    transition-timing-function: ease-in;
    color: #ECCC10;
    box-shadow: 2px 2px 2px #22879C;
    border-radius: 30px;
    transform: scale(90%);
    transition-duration: 1s;
}

h1:hover{
    transition-timing-function: ease-in;
    color: #ECCC10;
    transition-duration: 1s;
}

@media screen and (max-width:600px){
    .topnav a {
        width: 100%;
    }
    
    .searchbar {
        width: 100%;
    }
    
    .categories {
        width: 100%;
    }

    .icon {
        width: 100%;
    }
    
    .column{
        width: 100%;
    }
}

/* List CSS */
ul {
    list-style-type: circle;
}