img{
    height: 100%;
    width: 100%;
}
.navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-y: hidden;
    padding-top: 25px;
}
